{% extends 'acciones/base.html' %}
{% load static %}
{% block titulo %}Lista{% endblock %}
{% block estilos %}
    <link rel="stylesheet" href="{% static 'acciones/lista_acciones.css' %}"/>
{% endblock %}
{% block cuerpo %}
<h1 class="josefin-sans-franco" align="center">Lista de Acciones</h1>
    <div class="tabla1">
    <table border="5px solid blue" >
        <div>
        <thead>
            <tr>
                <th>Título</th>
                <th>Orígen</th>
                <th>Responsable</th>
                <th>Próxima Fecha</th>
                <th>Picture</th>
            </tr>
        </thead>
        </div>
        <div border="3px solid green">
        <tbody>
            {% for accion in Lacciones %}
            <tr class="renglon">
                <td>{{ accion.titulo }}</td>
                <td><a href="http://127.0.0.1:8000/personal/{{ accion.id }}/">({{ accion.titulo }})</a> </td>
                <td>{{ accion.origen }}</td>
                <td>{{ accion.responsable }}</td>
                <td>
                    {% if accion.foto %}
                    <img id="redondo" class="welcome" src="{{ accion.foto.url }}" alt="{{ accion.titulo }}" width=50px>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No entries yet.</td>
            </tr>
            {% endfor %}
        </tbody>
        </div>
    </table>
    </div>
{% endblock %}
