{% extends 'acciones/base.html' %}
{% load static %}
{% block titulo %}Lista{% endblock %}
{% block estilos %}
    <link rel="stylesheet" href="{% static 'acciones/lista_acciones.css' %}"/>
{% endblock %}
{% block cuerpo %}
<div class="titulo josefin-sans-franco">
<h1>Lista de Acciones</h1>
</div>
<div class="tabla1">
        {% for accion in Lacciones %}
            <a class="enlace-discreto" href="/acciones/{{ accion.pk }}" style="">
            <div class="renglon">
                <div><b>{{ accion.pk }}.-{{ accion.titulo }}</b></div>
                <div>({{ accion.origen }})</div>
                <div>
                    {% if accion.foto %}
                    <img id="redondo" src="{{ accion.foto.url }}" alt="{{ accion.titulo }}" >
                    {% endif %}
                </div>
                <div>Creado por: <b>{{ accion.creador }}</b></div>
                <div>Resp.: <b>{{ accion.responsable }}</b></div>
                <div>Fecha Límite:<b> {{ accion.fecha_modificacion|date:'j F y' }}</b></div>
                <div><p>{{ accion.descripcion|truncatechars:50 }}...</p></div>
                <div >pr.({{ accion.prioridad }})</div>
            </div>
            </a>
            {% empty %}
            <tr>
                <td colspan="5">No entries yet.</td>
            </tr>
        {% endfor %}
</div>

{% endblock %}
