div{
    color: inherit;
    text-decoration-color: beige;
}
#redondo{
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border: 5px solid purple;
    border-radius: 50%;
    padding: 5px;
}
#completa{
    width: 20rem;
    height: auto;
    object-fit: cover;
    border: 5px solid black;
    border-radius: 10%;
    padding: 5px;
    margin: 2rem 1rem 2rem 1rem;
}

.josefin-sans-franco {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.titulo{
    background-color: purple;
    text-decoration-color: beige;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    height: 7rem;
    border-color: purple;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.tabla1{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 5px solid rebeccapurple;
    background-color: rgba(128, 128, 128, 0.75);
    padding: 1rem;
    margin: -1rem 2rem 2rem 2rem;

}

.renglon{
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    border: 3px solid rebeccapurple;
    background-color: beige;
    border-radius: 10px;
    width: 14rem;
    height: 20rem;
    padding: 40px 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}
.renglon p{
    color: blue;
}
.tabla2{
    font-size: 18pt;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 5px solid rebeccapurple;
    background-color: rgba(128, 128, 128, 0.75);
    padding: 2rem 1rem;
    margin: -1rem 2rem 2rem 2rem;

}
.tabla2 p{
    font-size: 14pt;
    color: darkblue;
}
tabla2 div{
    padding: 1rem;
    margin: 1rem;
}
.enlace-discreto{
    color:inherit;
    text-decoration: none;
}